/* 메뉴탑 */
div.mntWrap{
    background-color: #333;
}
div.mntWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
}
div.mntWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.icons{
    line-height: 40px;
    float: left;
}
div.mntWrap>div.menuTop>div.icons>i{}
div.mntWrap>div.menuTop>ul.nav{
    line-height: 40px;
    float: right;
}
div.mntWrap>div.menuTop>ul.nav>li{
    float: left;
    margin-left: 40px;
}

/* 헤더 */
div.hdrWrap{
    background-color: rgb(78, 212, 212);
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>h1{
    line-height: 80px;
    float: left;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
div.hdrWrap>div.header>ul.nav{
    line-height: 80px;
    float: right;
    font-size: 20px;
    text-transform: uppercase;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    margin-left: 50px;
}
div.hdrWrap>div.header>ul.nav>li>i{}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content div.header>h2{
    line-height: 80px;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
div.cntWrap>div.content div.header>p{
    line-height: 20px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}
div.cntWrap>div.content div.section{
    margin-top: 80px;
}
div.cntWrap>div.content div.article{
    margin: 0px 10px;
}
div.cntWrap>div.content div.article>div.image{
    background-color: #ccc;
}
div.cntWrap>div.content div.texts>h3{
    line-height: 40px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
div.cntWrap>div.content div.texts>h5{
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
}
div.cntWrap>div.content div.texts>p{
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{
    margin-top: 160px;
}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{
    width: calc(100% / 12 * 4.5);
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.artTop{}
div.cntWrap>div.content.cnt01>div.section>div.artTop::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{
    width: calc(100% / 2 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{
    height: 320px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{
    padding-top: 20px;
    padding-left: calc(100% / 6 * 0.5);
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{
    text-align: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h5{
    text-align: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{
    width: calc(100% / 6 * 3.5);
    height: 80px;
    text-align: left;
    margin: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns{
    font-size: 20px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns>i{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article{
    width: calc(100% / 3 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{
    height: 340px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{
    padding: 20px 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>p{
    height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns>i{}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{
    width: 100%;
    max-width: 100%;
    margin-top: 120px;
}
div.cntWrap>div.content.cnt02>div.header{
    background-color: paleturquoise;
    padding: 160px 0px 280px;
    color: #fff;
}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
    width: calc(80% / 12 * 8);
    max-width: 700px;
}
div.cntWrap>div.content.cnt02>div.section{
    width: 80%;
    max-width: 1080px;
    margin: -200px auto 0px;
}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    width: 50%;
    height: 400px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    width: 50%;
    float: left;
    padding: 80px calc(100% / 12);
    background-color: #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 100px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    width: calc(100% / 6 * 2.5);
    background-color: powderblue;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 25px;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{
    margin-top: 320px;
}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{
    width: calc(100% / 12 * 4.5);
}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 4 - 20px);
    float: left;
    height: 240px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{}

/* 풋터 */
div.ftrWrap{
    background-color: paleturquoise;
    margin-top: 160px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 80px 0px;
}
div.ftrWrap>div.footer>h1{
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
div.ftrWrap>div.footer>p{
    width: calc(100% / 12 * 4.5);
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.sns{
    line-height: 80px;
    text-align: center;
    font-size: 25px;
}
div.ftrWrap>div.footer>div.sns>i{}