<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=M+PLUS+1&family=Montserrat&family=Playfair+Display:ital,wght@1,700&display=swap');
body{
    background-color: #f1f1f1;
    font-family: 'Montserrat';
}

/* 메뉴탑 */
div.mntWrap{
    background-color: #1b1b1b;
}
div.mntWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}
div.mntWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info{
    float: left;
}
div.mntWrap>div.menuTop>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info>h4{
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}
div.mntWrap>div.menuTop>div.info>h4>i{
    font-size: 15px;
}
div.mntWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntWrap>div.menuTop>ul.nav>li{
    float: left;
}
div.mntWrap>div.menuTop>ul.nav>li>i{
    font-size: 15px;
    margin-left: 25px;
}                         

/* 헤더 */
div.hdrWrap{
    /* background-image: url('../images/mkmain.hdr');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    padding: 20px 0px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    float: left;
}
div.hdrWrap>div.header>div.image>a{
    height: 100%;
    width: 100%;
    display: block;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    width: calc(100% / 12 * 4);
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    margin-left: calc(100% / 4  * 0.6);
}
div.hdrWrap>div.header>ul.nav>li>i{
    font-size: 15px;
}
/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header h2{
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
div.cntWrap>div.content>div.header p{
    font-size: 12px;
    line-height: 20px;
}
div.cntWrap>div.content>div.section{
    margin-top: 120px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4{
    font-size: 12px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 12px;
}

/* 컨텐츠1 */
div.cntWrap:nth-child(3){
    margin-top: 0;
}
div.cntWrap>div.content.cnt01>div.header>div.image{
    height: 480px;
    background-image: url('../images/mksub2_cnt1_hdr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
div.cntWrap>div.content.cnt01>div.header>div.texts{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>p{
    width: calc(100% / 12 * 7);
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: calc(100% / 12 * 8);
    height: 480px;
    background-image: url('../images/mksub2_cnt1_art.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 2px 2px 7px #666;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: calc(100% / 12 * 4);
    float: left;
    padding-top: 160px;
    padding-left: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    width: calc(100% / 4 * 2.7);
    line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h4{
    margin-top: 20px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{
    position: relative;
}
div.cntWrap>div.content.cnt02>div.header>h5{
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section{
    width: 100%;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup{
    width: 133%;
    transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article{
    width: calc(100% / 4 - 20px);
    float: left;
    margin: 0px 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image{
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i1{
    background-image: url('../images/mksub2_cnt2_art1.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i2{
    background-image: url('../images/mksub2_cnt2_art2.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i3{
    background-image: url('../images/mksub2_cnt2_art3.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i4{
    background-image: url('../images/mksub2_cnt2_art4.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.texts{
    text-align: center;
    margin-top: 20px;
    font-size: 13px
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.texts>h4:nth-child(1){
    line-height: 40px;
    font-size: 14px;
}
div.cntWrap>div.content.cnt02>div.btn{
    font-size: 30px;
    color: #666;
    width: 110%;
    position: absolute;
    bottom: 200px;
    left: -5%;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.btn>i{
    float: left;
}
div.cntWrap>div.content.cnt02>div.btn>i:nth-child(1){
    opacity: 0%;
}
div.cntWrap>div.content.cnt02>div.btn>i:nth-child(2){
    float: right;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.header>div.image{
    width: calc(100% / 12 * 8);
    height: 480px;
    float: right;
    background-image: url('../images/mksub2_cnt3_hdr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 7px #666;
}
div.cntWrap>div.content.cnt03>div.header>div.texts{
    width: calc(100% / 12 * 4);
    float: left;
    padding: 120px 30px 0px calc(100% / 12);
    text-align-last: left;
}
div.cntWrap>div.content.cnt03>div.header>div.texts>p{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 480px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{
    background-image: url('../images/mksub2_cnt3_art1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 7px #666;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{
    background-image: url('../images/mksub2_cnt3_art2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 7px #666;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(3)>div.texts{
    padding: 160px calc(100% / 4) 0px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    line-height: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h4{
    margin-top: 20px;
}

/* 풋터 */
div.ftrWrap{
    background-color: #e4e4e4;
    margin-top: 80px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0px 80px;
}
div.ftrWrap>div.footer>div.ftrTop{}
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
    width: calc(100% / 12 * 4);
    float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>i{
    margin-right: 15px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>span{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
    width: calc(100% / 12 * 5.5);
    float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li:nth-child(1){
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul{
    float: left;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: calc(100% / 5 * 0.6);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li{}
div.ftrWrap>div.footer>div.ftrBtm{
    text-align: center;
    margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    width: calc(100% / 12 * 5);
    overflow: hidden;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    margin-top: 30px;
    font-size: 30px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i>a{
    width: 100%;
    height: 100%;
    display: block;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=M+PLUS+1&family=Montserrat&family=Playfair+Display:ital,wght@1,700&display=swap');
body{
    background-color: #f1f1f1;
    font-family: 'Montserrat';
}

/* 메뉴탑 */
div.mntWrap{
    background-color: #1b1b1b;
}
div.mntWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}
div.mntWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info{
    float: left;
}
div.mntWrap>div.menuTop>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info>h4{
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}
div.mntWrap>div.menuTop>div.info>h4>i{
    font-size: 15px;
}
div.mntWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntWrap>div.menuTop>ul.nav>li{
    float: left;
}
div.mntWrap>div.menuTop>ul.nav>li>i{
    font-size: 15px;
    margin-left: 25px;
}                         

/* 헤더 */
div.hdrWrap{
    /* background-image: url('../images/mkmain.hdr');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    padding: 20px 0px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    float: left;
}
div.hdrWrap>div.header>div.image>a{
    height: 100%;
    width: 100%;
    display: block;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    width: calc(100% / 12 * 4);
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    margin-left: calc(100% / 4  * 0.6);
}
div.hdrWrap>div.header>ul.nav>li>i{
    font-size: 15px;
}
/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header h2{
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}
div.cntWrap>div.content>div.header p{
    font-size: 12px;
    line-height: 20px;
}
div.cntWrap>div.content>div.section{
    margin-top: 120px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4{
    font-size: 12px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 12px;
}

/* 컨텐츠1 */
div.cntWrap:nth-child(3){
    margin-top: 0;
}
div.cntWrap>div.content.cnt01>div.header>div.image{
    height: 480px;
    background-image: url('../images/mksub2_cnt1_hdr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
div.cntWrap>div.content.cnt01>div.header>div.texts{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>p{
    width: calc(100% / 12 * 7);
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: calc(100% / 12 * 8);
    height: 480px;
    background-image: url('../images/mksub2_cnt1_art.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 2px 2px 7px #666;
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: calc(100% / 12 * 4);
    float: left;
    padding-top: 160px;
    padding-left: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    width: calc(100% / 4 * 2.7);
    line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h4{
    margin-top: 20px;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{
    position: relative;
}
div.cntWrap>div.content.cnt02>div.header>h5{
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section{
    width: 100%;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup{
    width: 133%;
    transition: all 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article{
    width: calc(100% / 4 - 20px);
    float: left;
    margin: 0px 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image{
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i1{
    background-image: url('../images/mksub2_cnt2_art1.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i2{
    background-image: url('../images/mksub2_cnt2_art2.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i3{
    background-image: url('../images/mksub2_cnt2_art3.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image.i4{
    background-image: url('../images/mksub2_cnt2_art4.png');
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.texts{
    text-align: center;
    margin-top: 20px;
    font-size: 13px
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.texts>h4:nth-child(1){
    line-height: 40px;
    font-size: 14px;
}
div.cntWrap>div.content.cnt02>div.btn{
    font-size: 30px;
    color: #666;
    width: 110%;
    position: absolute;
    bottom: 200px;
    left: -5%;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.btn>i{
    float: left;
}
div.cntWrap>div.content.cnt02>div.btn>i:nth-child(1){
    opacity: 0%;
}
div.cntWrap>div.content.cnt02>div.btn>i:nth-child(2){
    float: right;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.header>div.image{
    width: calc(100% / 12 * 8);
    height: 480px;
    float: right;
    background-image: url('../images/mksub2_cnt3_hdr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 7px #666;
}
div.cntWrap>div.content.cnt03>div.header>div.texts{
    width: calc(100% / 12 * 4);
    float: left;
    padding: 120px 30px 0px calc(100% / 12);
    text-align-last: left;
}
div.cntWrap>div.content.cnt03>div.header>div.texts>p{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 3 - 20px);
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 480px;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{
    background-image: url('../images/mksub2_cnt3_art1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 7px #666;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{
    background-image: url('../images/mksub2_cnt3_art2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 7px #666;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(3)>div.texts{
    padding: 160px calc(100% / 4) 0px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    line-height: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h4{
    margin-top: 20px;
}

/* 풋터 */
div.ftrWrap{
    background-color: #e4e4e4;
    margin-top: 80px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0px 80px;
}
div.ftrWrap>div.footer>div.ftrTop{}
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
    width: calc(100% / 12 * 4);
    float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>i{
    margin-right: 15px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>span{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
    width: calc(100% / 12 * 5.5);
    float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li:nth-child(1){
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul{
    float: left;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: calc(100% / 5 * 0.6);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li{}
div.ftrWrap>div.footer>div.ftrBtm{
    text-align: center;
    margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    width: calc(100% / 12 * 5);
    overflow: hidden;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    margin-top: 30px;
    font-size: 30px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i>a{
    width: 100%;
    height: 100%;
    display: block;
}
>>>>>>> 7839adb27e9f6d4e360128162e6d51334055d781
