<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=M+PLUS+1&family=Montserrat&family=Playfair+Display:ital,wght@1,700&display=swap');
body{
    background-color: #f1f1f1;
    font-family: 'Montserrat';
}

/* 메뉴탑 */
div.mntWrap{
    background-color: #1b1b1b;
}
div.mntWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}
div.mntWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info{
    float: left;
}
div.mntWrap>div.menuTop>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info>h4{
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}
div.mntWrap>div.menuTop>div.info>h4>i{
    font-size: 15px;
}
div.mntWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntWrap>div.menuTop>ul.nav>li{
    float: left;
}
div.mntWrap>div.menuTop>ul.nav>li>i{
    font-size: 15px;
    margin-left: 25px;
}                         

/* 헤더 */
div.hdrWrap{
    /* background-image: url('../images/mkmain.hdr');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    padding: 20px 0px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    float: left;
}
div.hdrWrap>div.header>div.image>a{
    height: 100%;
    width: 100%;
    display: block;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    width: calc(100% / 12 * 4);
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    margin-left: calc(100% / 4  * 0.6);
}
div.hdrWrap>div.header>ul.nav>li>i{
    font-size: 15px;
}
/* 메인 */
div.mainWrap{}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mainWrap>div.main>div.images{
    position: relative;
    height: 480px;
    width: 100%;
}
div.mainWrap>div.main>div.images>div.image{
    height: 480px;
    width: 100%;
    background-image: url('../images/mksub1_main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    position: absolute;
    top: 0;
    left: 0;
}
div.mainWrap>div.main>div.images>video{
    height: 480px;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
div.mainWrap>div.main>div.texts{
    margin-top: 80px;
    text-align: center;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
div.mainWrap>div.main>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
}
div.mainWrap>div.main>div.texts>ul.tab::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.texts>ul.tab{
    width: calc(100% / 12 * 5);
    margin: 0 auto;
}
div.mainWrap>div.main>div.texts>ul.tab>li{
    float: left;
    width: calc(100% / 2 - 10px);
    margin: 20px 5px 0px;
    outline: 1px solid #333;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
}
/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.header>div.image{
    width: calc(100% / 2 - 20px);
    margin: 0px 10px;
    height: 360px;
    background-color: pink;
    float: left;
}
div.cntWrap>div.content>div.header>div.texts{
    width: calc(100% / 2 - 20px);
    margin: 0px 10px;
    float: left;
    padding-top: 240px;
    padding-left: 30px;
}
div.cntWrap>div.content>div.header>div.texts>h2{
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content>div.header>div.texts>p{
    font-size: 12px;
    line-height: 20px;
    width: calc(100% / 6 * 4);
}
div.cntWrap>div.content>div.header>div.texts>div.btn{
    width: calc(100% / 6 * 1.2);
    outline: 1px solid #333;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}
div.cntWrap>div.content>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0px 10px;
    float: left;
    margin-top: 40px;
}
div.cntWrap>div.content>div.section>div.article>div.image{
    background-color: #ccc;
    height: 360px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4:nth-child(1){
    margin-top: 15px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.header>div.image{
    background-image: url('../images/mksub1_cnt1_hdr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(7){
    width: calc(100% / 2 - 20px);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    /* transition: all 0.3s; */
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{
    background-image: url('../images/mksub1_cnt1_art1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1:hover{
    background-image: url('../images/mksub1_cnt1_art1_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{
    background-image: url('../images/mksub1_cnt1_art2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2:hover{
    background-image: url('../images/mksub1_cnt1_art2_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{
    background-image: url('../images/mksub1_cnt1_art3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3:hover{
    background-image: url('../images/mksub1_cnt1_art3_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{
    background-image: url('../images/mksub1_cnt1_art4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4:hover{
    background-image: url('../images/mksub1_cnt1_art4_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i5{
    background-image: url('../images/mksub1_cnt1_art5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i5:hover{
    background-image: url('../images/mksub1_cnt1_art5_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i6{
    background-image: url('../images/mksub1_cnt1_art6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i6:hover{
    background-image: url('../images/mksub1_cnt1_art6_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i7{
    height: 840px;
    background-image: url('../images/mksub1_cnt1_art7.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i8{
    background-image: url('../images/mksub1_cnt1_art8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i8:hover{
    background-image: url('../images/mksub1_cnt1_art8_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i9{
    background-image: url('../images/mksub1_cnt1_art9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i9:hover{
    background-image: url('../images/mksub1_cnt1_art9_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(7)~div.article{
    margin-top: -360px;
}
div.cntWrap>div.content.cnt02>div.header>div.image{
    float: right;
}
div.cntWrap>div.content.cnt02>div.header>div.image{
    background-image: url('../images/mksub1_cnt02_hdr.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(5){
    width: calc(100% / 2 - 20px);
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
    background-image: url('../images/mksub1_cnt2_art1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1:hover{
    background-image: url('../images/mksub1_cnt2_art1_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
    background-image: url('../images/mksub1_cnt2_art2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2:hover{
    background-image: url('../images/mksub1_cnt2_art2_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{
    background-image: url('../images/mksub1_cnt2_art3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3:hover{
    background-image: url('../images/mksub1_cnt2_art3_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i4{
    background-image: url('../images/mksub1_cnt2_art4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i4:hover{
    background-image: url('../images/mksub1_cnt2_art4_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i5{
    background-image: url('../images/mksub1_cnt2_art5.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i6{
    background-image: url('../images/mksub1_cnt2_art6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i6:hover{
    background-image: url('../images/mksub1_cnt2_art6_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i7{
    background-image: url('../images/mksub1_cnt2_art7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i7:hover{
    background-image: url('../images/mksub1_cnt2_art7_2.jpg');
}

/* 풋터 */
div.ftrWrap{
    background-color: #e4e4e4;
    margin-top: 80px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0px 80px;
}
div.ftrWrap>div.footer>div.ftrTop{}
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
    width: calc(100% / 12 * 4);
    float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>i{
    margin-right: 15px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>span{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
    width: calc(100% / 12 * 5.5);
    float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li:nth-child(1){
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul{
    float: left;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: calc(100% / 5 * 0.6);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li{}
div.ftrWrap>div.footer>div.ftrBtm{
    text-align: center;
    margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    width: calc(100% / 12 * 5);
    overflow: hidden;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    margin-top: 30px;
    font-size: 30px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i>a{
    width: 100%;
    height: 100%;
    display: block;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=M+PLUS+1&family=Montserrat&family=Playfair+Display:ital,wght@1,700&display=swap');
body{
    background-color: #f1f1f1;
    font-family: 'Montserrat';
}

/* 메뉴탑 */
div.mntWrap{
    background-color: #1b1b1b;
}
div.mntWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}
div.mntWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info{
    float: left;
}
div.mntWrap>div.menuTop>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info>h4{
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}
div.mntWrap>div.menuTop>div.info>h4>i{
    font-size: 15px;
}
div.mntWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntWrap>div.menuTop>ul.nav>li{
    float: left;
}
div.mntWrap>div.menuTop>ul.nav>li>i{
    font-size: 15px;
    margin-left: 25px;
}                         

/* 헤더 */
div.hdrWrap{
    /* background-image: url('../images/mkmain.hdr');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    padding: 20px 0px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    float: left;
}
div.hdrWrap>div.header>div.image>a{
    height: 100%;
    width: 100%;
    display: block;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    width: calc(100% / 12 * 4);
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    margin-left: calc(100% / 4  * 0.6);
}
div.hdrWrap>div.header>ul.nav>li>i{
    font-size: 15px;
}
/* 메인 */
div.mainWrap{}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mainWrap>div.main>div.images{
    position: relative;
    height: 480px;
    width: 100%;
}
div.mainWrap>div.main>div.images>div.image{
    height: 480px;
    width: 100%;
    background-image: url('../images/mksub1_main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 30%;
    position: absolute;
    top: 0;
    left: 0;
}
div.mainWrap>div.main>div.images>video{
    height: 480px;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}
div.mainWrap>div.main>div.texts{
    margin-top: 80px;
    text-align: center;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
div.mainWrap>div.main>div.texts>h5{
    font-size: 12px;
    line-height: 20px;
}
div.mainWrap>div.main>div.texts>ul.tab::after{
    content: '';
    display: block;
    clear: both;
}
div.mainWrap>div.main>div.texts>ul.tab{
    width: calc(100% / 12 * 5);
    margin: 0 auto;
}
div.mainWrap>div.main>div.texts>ul.tab>li{
    float: left;
    width: calc(100% / 2 - 10px);
    margin: 20px 5px 0px;
    outline: 1px solid #333;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
}
/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.header>div.image{
    width: calc(100% / 2 - 20px);
    margin: 0px 10px;
    height: 360px;
    background-color: pink;
    float: left;
}
div.cntWrap>div.content>div.header>div.texts{
    width: calc(100% / 2 - 20px);
    margin: 0px 10px;
    float: left;
    padding-top: 240px;
    padding-left: 30px;
}
div.cntWrap>div.content>div.header>div.texts>h2{
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
}
div.cntWrap>div.content>div.header>div.texts>p{
    font-size: 12px;
    line-height: 20px;
    width: calc(100% / 6 * 4);
}
div.cntWrap>div.content>div.header>div.texts>div.btn{
    width: calc(100% / 6 * 1.2);
    outline: 1px solid #333;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}
div.cntWrap>div.content>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0px 10px;
    float: left;
    margin-top: 40px;
}
div.cntWrap>div.content>div.section>div.article>div.image{
    background-color: #ccc;
    height: 360px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4:nth-child(1){
    margin-top: 15px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.header>div.image{
    background-image: url('../images/mksub1_cnt1_hdr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(7){
    width: calc(100% / 2 - 20px);
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    /* transition: all 0.3s; */
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{
    background-image: url('../images/mksub1_cnt1_art1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1:hover{
    background-image: url('../images/mksub1_cnt1_art1_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{
    background-image: url('../images/mksub1_cnt1_art2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2:hover{
    background-image: url('../images/mksub1_cnt1_art2_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{
    background-image: url('../images/mksub1_cnt1_art3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3:hover{
    background-image: url('../images/mksub1_cnt1_art3_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{
    background-image: url('../images/mksub1_cnt1_art4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4:hover{
    background-image: url('../images/mksub1_cnt1_art4_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i5{
    background-image: url('../images/mksub1_cnt1_art5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i5:hover{
    background-image: url('../images/mksub1_cnt1_art5_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i6{
    background-image: url('../images/mksub1_cnt1_art6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i6:hover{
    background-image: url('../images/mksub1_cnt1_art6_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i7{
    height: 840px;
    background-image: url('../images/mksub1_cnt1_art7.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i8{
    background-image: url('../images/mksub1_cnt1_art8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i8:hover{
    background-image: url('../images/mksub1_cnt1_art8_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i9{
    background-image: url('../images/mksub1_cnt1_art9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i9:hover{
    background-image: url('../images/mksub1_cnt1_art9_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-child(7)~div.article{
    margin-top: -360px;
}
div.cntWrap>div.content.cnt02>div.header>div.image{
    float: right;
}
div.cntWrap>div.content.cnt02>div.header>div.image{
    background-image: url('../images/mksub1_cnt02_hdr.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(5){
    width: calc(100% / 2 - 20px);
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
    background-image: url('../images/mksub1_cnt2_art1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1:hover{
    background-image: url('../images/mksub1_cnt2_art1_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
    background-image: url('../images/mksub1_cnt2_art2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2:hover{
    background-image: url('../images/mksub1_cnt2_art2_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{
    background-image: url('../images/mksub1_cnt2_art3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3:hover{
    background-image: url('../images/mksub1_cnt2_art3_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i4{
    background-image: url('../images/mksub1_cnt2_art4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i4:hover{
    background-image: url('../images/mksub1_cnt2_art4_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i5{
    background-image: url('../images/mksub1_cnt2_art5.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i6{
    background-image: url('../images/mksub1_cnt2_art6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i6:hover{
    background-image: url('../images/mksub1_cnt2_art6_2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i7{
    background-image: url('../images/mksub1_cnt2_art7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i7:hover{
    background-image: url('../images/mksub1_cnt2_art7_2.jpg');
}

/* 풋터 */
div.ftrWrap{
    background-color: #e4e4e4;
    margin-top: 80px;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0px 80px;
}
div.ftrWrap>div.footer>div.ftrTop{}
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
    width: calc(100% / 12 * 4);
    float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>i{
    margin-right: 15px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>span{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
    width: calc(100% / 12 * 5.5);
    float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li:nth-child(1){
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul{
    float: left;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: calc(100% / 5 * 0.6);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li{}
div.ftrWrap>div.footer>div.ftrBtm{
    text-align: center;
    margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    width: calc(100% / 12 * 5);
    overflow: hidden;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    margin-top: 30px;
    font-size: 30px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i>a{
    width: 100%;
    height: 100%;
    display: block;
}
>>>>>>> 7839adb27e9f6d4e360128162e6d51334055d781
