
div.mntWrap>div.menuTop{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header>div.image{
    width: calc(100% / 8 * 2.5);
}
div.hdrWrap>div.header>ul.nav{
    width: calc(100% / 8 * 3.2);
}
div.hdrWrap>div.header>ul.nav>li{
    margin-left: calc(100% / 3 * 0.4);
}
div.mainWrap{
    height: 480px;
}
div.mainWrap>div.main{
    height: 480px;
    width: 90%;
    max-width: 700px;
}
div.mainWrap>div.view:nth-child(1){
    top: 80px;
    left: 0;
}
div.mainWrap>div.view:nth-child(2){
    top: 210px;
}
div.mainWrap>div.view:nth-child(3){
    top: 340px;
    left: 0;
}
div.mainWrap>div.view>h1{
    height: 130px;
    line-height: 130px;
    font-size: 130px;
}
div.mainWrap>div.main>div.texts{
    width: calc(100% / 8 * 3);
    top: 140px;
    left: calc(100% / 8 * 0.5);
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 25px;
    line-height: 40px;
}
div.mainWrap>div.main>div.texts>p{
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
}
div.mainWrap>div.main>div.texts>div.btn{
    font-size: 13px;
    line-height: 30px;
    width: calc(100% / 3 * 1.3);
}
div.mainWrap>div.main>div.image.i1{
    height: 400px;
    width: calc(100% / 8 * 3);
    right: calc(100% / 8 * 0.5);
}
div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content.cnt01>div.header{
    height: 360px;
}
div.cntWrap>div.content.cnt01>div.header>div.image.i1{
    width: calc(100% / 8 * 2.8);
    height: 160px;
}
div.cntWrap>div.content.cnt01>div.header>div.image.i2{
    width: calc(100% / 8 * 6);
    height: 320px;
    right: calc(100% / 8 - 10px);
}
div.cntWrap>div.content.cnt01>div.header>div.texts{
    width: calc(100% / 8 * 3.3);
    padding: 40px 0px; 
    left: calc(100% / 8 * 2);
}
div.cntWrap>div.content>div.header h2{
    font-size: 20px;
}
div.cntWrap>div.content>div.header>div.texts>p{
    font-size: 12px;
    line-height: 15px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>p{
    width: calc(100% / 3 * 2.3);
    margin-top: 0px;
}
div.cntWrap>div.content>div.header div.btn{
    line-height: 25px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>div.btn{
    width: calc(100% / 3 * 1.5);
    margin-top: 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup{
    width: 400%;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article{
    width: calc(100% / 12 - 30px);
    margin: 0px 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image{
    height: 200px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.texts>h3{
    font-size: 12px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.texts>div.btn{
    width: calc(100% / 2);
}
div.cntWrap>div.content.cnt01>div.btn{
    bottom: 160px;
}
div.cntWrap>div.content.cnt02>div.header{
    height: 320px;
}
div.cntWrap>div.content.cnt02>div.header>div.image{
    width: calc(100% / 8 * 6);
    height: 320px;
    left: 0;
}
div.cntWrap>div.content.cnt02>div.header>div.texts{
    width: calc(100% / 8 * 3.3);
    padding: 40px 0px;
    top: 50px;
}
div.cntWrap>div.content.cnt02>div.header>div.texts>p{
    width: calc(100% / 3 * 2.3);
    margin-top: 0px;
}
div.cntWrap>div.content.cnt02>div.header>div.texts>div.btn{
    font-size: 13px;
    width: calc(100% / 3 * 1.5);
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.section{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    font-size: 18px;
    margin-top: -60px;
    padding-left: 30px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>i{
    margin-left: 5px;
}
div.bnrWrap{
    margin-top: 80px;
}
div.bnrWrap>div.banner{
    padding: 80px 0px;
    width: 90%;
    max-width: 700px;
}
div.bnrWrap>div.banner>h5{
    font-size: 9px;
}
div.bnrWrap>div.banner>h2{
    font-size: 20px;
    margin-top: 0px;
}
div.bnrWrap>div.banner>h2::after{
    margin-top: 10px;
}
div.bnrWrap>div.banner>p{
    font-size: 9px;
}
div.bnrWrap>div.banner>div.btn{
    font-size: 9px;
    line-height: 20px;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
    padding: 40px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info{
    display: none;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
    display: none;
}
div.ftrWrap>div.footer>div.ftrBtm{
    margin-top: 0;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    width: calc(100% / 8 * 2.5);
}