@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=M+PLUS+1&family=Montserrat&family=Playfair+Display:ital,wght@1,700&display=swap');

body{
    background-color: #f1f1f1;
    font-family: 'Montserrat';
}
/* 메뉴탑 */
div.mntWrap{
    background-color: #1b1b1b;
}
div.mntWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
}
div.mntWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info{
    float: left;
}
div.mntWrap>div.menuTop>div.info::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>div.info>h4{
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}
div.mntWrap>div.menuTop>div.info>h4>i{
    font-size: 15px;
    cursor: pointer;
}
div.mntWrap>div.menuTop>ul.nav{
    float: right;
}
div.mntWrap>div.menuTop>ul.nav>li{
    float: left;
    cursor: pointer;
}
div.mntWrap>div.menuTop>ul.nav>li>i{
    font-size: 15px;
    margin-left: 25px;
}                         

/* 헤더 */
div.hdrWrap{}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    padding: 20px 0px;
    position: relative;
    z-index: 10;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    float: left;
}
div.hdrWrap>div.header>div.image>a{
    height: 100%;
    width: 100%;
    display: block;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    width: calc(100% / 12 * 4);
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    margin-left: calc(100% / 4  * 0.6);
    cursor: pointer;
}
div.hdrWrap>div.header>ul.nav>li>i{
    font-size: 15px;
}

/* 메인 */
div.mainWrap{
    margin-top: -80px;
    height: 720px;
    position: relative;
    background-color: #cec4c9;
}
div.mainWrap>div.view{
    color: #cec4c9;
    width: 100vw;
    position: absolute;
    opacity: 60%;
    overflow: hidden;
    text-shadow: -2px 0 #F2F1F6, 0 2px #F2F1F6, 2px 0 #F2F1F6, 0 -2px #F2F1F6;
}
div.mainWrap>div.view:nth-child(1){
    top: 80px;
    left: 0;
}
div.mainWrap>div.view:nth-child(2){
    top: 280px;
}
div.mainWrap>div.view:nth-child(3){
    top: 480px;
    left: 0;
}
div.mainWrap>div.view>h1{
    text-transform: uppercase;
    height: 200px;
    line-height: 200px;
    font-size: 200px;
    overflow: hidden;
    width: 300vw;
    animation-name: view;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div.mainWrap>div.view:nth-child(2)>h1{
    width: 300vw;
    animation-name: vieww;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes view {
    0%{
        margin-left: 0vw;
    }
    /* 50%{
        margin-left: -150vw;
    } */
    100%{
        margin-left: -150vw;
    }
}
@keyframes vieww {
    0%{
        margin-left: -150vw;
    }
    /* 50%{
        margin-left: 0vw;
    } */
    100%{
        margin-left: 0vw;
    }
}
div.mainWrap>div.main{
    width: 80%;
    height: 720px;
    max-width: 1080px;
    margin: 0 auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div.mainWrap>div.main>div.texts{
    width: calc(100% / 12 * 4);
    position: absolute;
    top: 180px;
    left: calc(100% / 12);
    color: #fff;
}
div.mainWrap>div.main>div.texts>h2{
    font-size: 35px;
    line-height: 80px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Playfair Display';
    color: #ad9db5;
    text-shadow: -1px 0 #927e9c, 0 1px #927e9c, 1px 0 #927e9c, 0 -1px #927e9c;
}
div.mainWrap>div.main>div.texts>p{
    font-size: 18px;
    line-height: 40px;
}
div.mainWrap>div.main>div.texts>div.btn:hover{
    background-color: #927e9c;
}
div.mainWrap>div.main>div.texts>div.btn{
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: calc(100% / 4 * 2);
    margin-top: 30px;
    background-color: #ad9db5;
    border: 1px solid #927e9c;
    border-radius: 20px;
    transition: background-color 0.3s;
}
div.mainWrap>div.main>div.image.i1{
    width: calc(100% / 12 * 5);
    height: 640px;
    background-image: url('../images/main4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 80px;
    right: calc(100% / 12);
    z-index: 5; 
}

/* 컨텐츠 공통 */
div.cntWrap{
    margin-top: 160px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header h2{
    font-size: 25px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
}
div.cntWrap>div.content>div.header p{
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
}
div.cntWrap>div.content>div.header div.btn{
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    outline: 1px solid #666;
    cursor: pointer;
    transition: background-color 0.3s;
}
div.cntWrap>div.content>div.section{
    margin-top: 80px;
}

/* 컨텐츠1 */
div.cntWrap:nth-child(4){
    position: relative;
}
div.cntWrap:nth-child(4)::after{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 120px;
    left: 0;
    z-index: 1;
}
div.cntWrap>div.content.cnt01{
    position: relative;
}
div.cntWrap>div.content.cnt01>div.header{
    height: 560px;
    position: relative;
}
div.cntWrap>div.content.cnt01>div.header>div.image{}
div.cntWrap>div.content.cnt01>div.header>div.image.i1{
    height: 320px;
    width: calc(100% / 12 * 5 - 20px);
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 3;
    background-image: url('../images/mkmain_cnt1_hdr1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.header>div.image.i2{
    height: 480px;
    width: calc(100% / 12 * 9 + 20px);
    position: absolute;
    top: 0;
    right: calc(100% / 12 - 10px);
    background-image: url('../images/mkmain_cnt1_hdr2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.header>div.texts{
    width: calc(100% / 12 * 4);
    background-color: #fdeee9;
    padding: 40px 0px 60px;
    position: absolute;
    bottom: 0;
    left: calc(100% / 12 * 3.5);
    z-index: 2;
    box-shadow: 2px 2px 7px #666;
    opacity: 90%;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>h2{}
div.cntWrap>div.content.cnt01>div.header>div.texts>p{
    width: calc(100% / 4 * 2.7);
    margin: 0 auto;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>div.btn{
    width: calc(100% / 4 * 2);
    margin: 0 auto;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup{
    width: 300%;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article{
    width: calc(100% / 12 - 20px);
    float: left;
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image{
    height: 240px;
    box-shadow: 2px 2px 7px #666;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i1{
    background-image: url('../images/mkmain_cnt1_art1_1.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i2{
    background-image: url('../images/mkmain_cnt1_art1_2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i3{
    background-image: url('../images/mkmain_cnt1_art1_3.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i4{
    background-image: url('../images/mkmain_cnt1_art1_4.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i5{
    background-image: url('../images/mkmain_cnt1_art1_5.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i6{
    background-image: url('../images/mkmain_cnt1_art1_6.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i7{
    background-image: url('../images/mkmain_cnt1_art1_7.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i8{
    background-image: url('../images/mkmain_cnt1_art1_8.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i9{
    background-image: url('../images/mkmain_cnt1_art1_9.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i10{
    background-image: url('../images/mkmain_cnt1_art1_10.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i11{
    background-image: url('../images/mkmain_cnt1_art1_11.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.image.i12{
    background-image: url('../images/mkmain_cnt1_art1_12.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.texts{
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.texts>h3{
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    margin: 10px 0px 5px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.texts>h5{
    font-size: 12px;
    line-height: 15px;
}
div.cntWrap>div.content.cnt01>div.section>div.artGroup>div.article>div.texts>div.btn{
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    width: calc(100% / 3 * 1.3);
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #666;
    margin-top: 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.btn{
    font-size: 40px;
    color: #666;
    width: 110%;
    position: absolute;
    bottom: 200px;
    left: -5%;
    cursor: pointer;

}
div.cntWrap>div.content.cnt01>div.btn>i{
    float: left;
}
div.cntWrap>div.content.cnt01>div.btn>i:nth-child(2){
    float: right;
}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{
    height: 480px;
    position: relative;
}
div.cntWrap>div.content.cnt02>div.header>div.image{
    width: calc(100% / 12 * 9);
    height: 480px;
    position: absolute;
    top: 0;
    left: calc(100% / 12 - 20px);
    background-image: url('../images/mkmain_cnt2_hdr1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.header>div.texts{
    width: calc(100% / 12 * 4);
    padding: 40px 0px 60px;
    background-color: #fdeee9;
    position: absolute;
    top: 105px;
    right: 0;
    box-shadow: 2px 2px 7px #666;
    opacity: 90%;
}
div.cntWrap>div.content.cnt02>div.header>div.texts>h2{}
div.cntWrap>div.content.cnt02>div.header>div.texts>p{
    width: calc(100% / 4 * 2.8);
    margin: 0 auto;
    margin-top: 10px;
}
div.cntWrap>div.content.cnt02>div.header>div.texts>div.btn{
    margin: 0 auto;
    margin-top: 20px;
    width: calc(100% / 4 * 2);
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-child(2){
    margin-top: 120px;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    width: calc(100% / 3 - 20px);
    margin: 0px 10px;
    float: left;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i1{
    background-image: url('../images/mkmain_cnt2_art1.png');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i2{
    background-image: url('../images/mkmain_cnt2_art2.png');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image.i3{
    background-image: url('../images/mkmain_cnt2_art3.png');
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    font-size: 23px;
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-top: 10px;
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 2 - 20px);
    float: left;
    margin: 0 10px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 320px;
    box-shadow: 2px 2px 7px #666;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{
    background-image: url('../images/mkmain_cnt3_art1.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{
    background-image: url('../images/mkmain_cnt3_art2.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    font-size: 23px;
    line-height: 40px;
    height: 80px;
    font-weight: 700;
    padding-left: calc(100% / 6 * 0.8);
    margin-top: -80px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>i{
    float: left;
    line-height: 40px;
    margin-left: 20px;
}

/* 배너 */
div.bnrWrap{
    margin-top: 160px;
    background-image: url('../images/mkmain_bnr1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 160px 0px;
    text-align: center;
    color: #fff;
}
div.bnrWrap>div.banner>h5{
    font-size: 13px;
    line-height: 20px;
}
div.bnrWrap>div.banner>h2{
    margin-top: 20px;
    font-size: 27px;
    line-height: 40px;
}
div.bnrWrap>div.banner>h2::after{
    content: '';
    display: block;
    height: 1px;
    width: calc(100% / 12 * 4);
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}
div.bnrWrap>div.banner>p{
    font-size: 13px;
    line-height: 20px;
    height: 40px;
    width: calc(100% / 12 * 4);
    margin: 0 auto;
    margin-top: 20px;
}
div.bnrWrap>div.banner>div.btn:hover{
    background-color: #fff;
    color: #000;
    opacity: 70%;
}
div.bnrWrap>div.banner>div.btn{
    font-size: 13px;
    line-height: 30px;
    outline: 1px solid #fff;
    width: calc(100% / 12 * 2);
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
}

/* 풋터 */
div.ftrWrap{
    background-color: #e4e4e4;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 60px 0px 80px;
}
div.ftrWrap>div.footer>div.ftrTop{}
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft{
    width: calc(100% / 12 * 4);
    float: left;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>i{
    margin-right: 15px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info>h4>span{}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
    width: calc(100% / 12 * 5.5);
    float: right;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li:nth-child(1){
    font-weight: 700;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul{
    float: left;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: calc(100% / 5 * 0.6);
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight>ul>li{}
div.ftrWrap>div.footer>div.ftrBtm{
    text-align: center;
    margin-top: 80px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% / 12 * 2.5);
    height: 40px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image>a{
    width: 100%;
    height: 100%;
    display: block;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    width: calc(100% / 12 * 5);
    overflow: hidden;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns{
    margin-top: 30px;
    font-size: 30px;
}
div.ftrWrap>div.footer>div.ftrBtm>div.sns>i{
    width: 30px;
    height: 30px;
}
/* div.ftrWrap>div.footer>div.ftrBtm>div.sns>i>a{
    width: 100%;
    height: 100%;
    display: block;
} */