/* 메뉴탑.헤더 */
div.mntWrap>div.menuTop{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
}
div.hdrWrap>div.header>div.image{
    width: calc(100% / 8 * 2.5);
}
div.hdrWrap>div.header>ul.nav{
    width: calc(100% / 8 * 3.2);
}
div.hdrWrap>div.header>ul.nav>li{
    margin-left: calc(100% / 3 * 0.4);
}

/* 컨텐츠 */
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}
div.cntWrap>div.content.cnt01>div.header>div.image{
    height: 400px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>p{
    width: calc(100% / 8 * 6);
}
div.cntWrap>div.content>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: calc(100% / 8 * 5);
    height: 320px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: calc(100% / 8 * 3);
    padding-top: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup{
    width: 200%;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article{
    width: calc(100% / 4 - 20px);
}
div.cntWrap>div.content.cnt03>div.header>div.image{
    width: calc(100% / 8 * 5);
    height: 320px;
}
div.cntWrap>div.content.cnt03>div.header>div.texts{
    width: calc(100% / 8 * 3);
    padding: 80px 25px 0px 0px;
}
div.cntWrap>div.content>div.header h2{
    font-size: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 360px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(3)>div.texts{
    padding: 80px 0px 0px 10px;
}

/* 풋터 */
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
    padding: 40px 0px;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrLeft>div.info{
    display: none;
}
div.ftrWrap>div.footer>div.ftrTop>div.ftrRight{
    display: none;
}
div.ftrWrap>div.footer>div.ftrBtm{
    margin-top: 0;
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    width: calc(100% / 8 * 2.5);
}

