div.mntWrap>div.menuTop>div.info>h4:nth-child(1)~h4{
    display: none;
}
div.hdrWrap>div.header>ul.nav>li{
    display: none;
}
div.hdrWrap>div.header>ul.nav>li:nth-last-child(1){
    display: block;
}
div.hdrWrap>div.header>div.image{
    width: calc(100% / 4 * 2);
}
div.hdrWrap>div.header>ul.nav>li{
    margin-left: 0;
    float: right;
}
div.hdrWrap>div.header>ul.nav{
    width: 0;
}
div.cntWrap>div.content.cnt01>div.header>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts{
    margin-top: 10px;
}
div.cntWrap>div.content>div.header h2{
    font-size: 15px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>p{
    width: calc(100% / 4 * 3.8);
    margin-top: 0;
    line-height: 15px;
}
div.cntWrap>div.content>div.header p{
    font-size: 8px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    width: calc(100% / 4 * 2.5);
    height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    line-height: 15px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 8px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    width: calc(100% / 4 * 1.5);
    padding-top: 30px;
    padding-left: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h4{
    margin-top: 10px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h4{
    font-size: 8px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.texts>h4:nth-child(1){
    font-size: 12px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.texts>h4>span{
    display: none;
}
div.cntWrap>div.content.cnt02>div.header>h5{
    font-size: 12px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.image{
    height: 200px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.article>div.texts{
    font-size: 8px;
}
div.cntWrap>div.content.cnt02>div.btn{
    font-size: 20px;
    bottom: 130px;
}
div.cntWrap>div.content.cnt03>div.header>div.image{
    width: calc(100% / 4 * 2.5);
    height: 160px;
}
div.cntWrap>div.content.cnt03>div.header>div.texts{
    width: calc(100% / 4 * 1.5);
    padding: 0px 5px 0px 0px;
}
div.cntWrap>div.content>div.header h2{
    font-size: 13px;
}
div.cntWrap>div.content.cnt03>div.header>div.texts>p{
    margin-top: 0px;
    line-height: 15px;
}
div.cntWrap>div.content.cnt03>div.header>div.texts>p>span{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 160px;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 3 - 10px);
    margin: 0px 5px;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(3)>div.texts{
    padding: 20px 0px 0px 5px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p>span{
    display: none;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    line-height: 15px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h4{
    margin-top: 10px;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    width: calc(100% / 4 * 3.2);
}
div.ftrWrap>div.footer>div.ftrBtm>div.image{
    width: calc(100% / 4 * 1.8);
}