/* 메뉴탑 */
div.mntWrap{
    background-color: #000;
    color: #fff;
}
div.mntWrap>div.menuTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mntWrap>div.menuTop>div.logos{
    width: calc(100% / 12);
    height: 40px;
    float: left;
    font-size: 20px;
}
div.mntWrap>div.menuTop>div.logos>i{}
div.mntWrap>div.menuTop>ul.nav{
    width: calc(100% / 12 * 2);
    float: right;
    font-size: 20px;
}
div.mntWrap>div.menuTop::after{
    content: '';
    display: block;
    clear: both;
}
div.mntWrap>div.menuTop>ul.nav>li{}

/* 헤더 */
div.hdrWrap{
    background-color: plum;
    color: #fff;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.hdrWrap>div.header>h1{
    width: calc(100% / 12);
    float: left;
    font-size: 20px;
}
div.hdrWrap>div.header>ul.nav{
    width: calc(100% / 12 * 4);
    float: right;
    font-size: 20px;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>ul.nav>li{}
div.hdrWrap>div.header>ul.nav>li>i{}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.content>div.header>h2{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
div.cntWrap>div.content>div.header>p{
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}
div.cntWrap>div.content>div.section div.image{
    background-color: #ccc;
}
div.cntWrap>div.content>div.section div.texts>h3{
    font-size: 18px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.texts>h5{
    font-size: 12px;
    font-weight: 700;
}
div.cntWrap>div.content>div.section div.texts>p{
    font-size: 12px;
}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{
    width: calc(100% / 12 * 4);
    height: 40px;
}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.artTop{}
div.cntWrap>div.content.cnt01>div.section>div.artTop::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{
    width: calc(100% / 2 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{
    height: 320px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{
width: calc(100% / 6 * 3.5);
height: 80px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.sns>i{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article{
    width: calc(100% / 3 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{
    height: 340px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{
    text-align: center;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>p{
    width: calc(100% / 4 * 3.5);
    height: 80px;
    text-align: center;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns{
    text-align: center;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.sns>i{}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{
    background-color: plum;
}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
    height: 40px;
}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{}
div.cntWrap>div.content.cnt02>div.section>div.article::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    height: 400px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    height: 400px;
    float: left;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{
    height: 100px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.btn{
    height: 40px ;
    background-color: rgb(146, 97, 146);
}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{
    width: calc(100% / 12 * 4);
    height: 40px;
}
div.cntWrap>div.content.cnt03>div.section{}
div.cntWrap>div.content.cnt03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 4 - 20px);
    float: left;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    width: calc(100% / 3 * 2.5);
    height: 80px;
}

/* 풋터 */
div.ftrWrap{
    background-color: plum;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>h1{
    font-size: 20px;
    text-align: center;
}
div.ftrWrap>div.footer>p{
    width: calc(100% / 12 * 4);
    height: 40px;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}
div.ftrWrap>div.footer>div.sns{
    width: calc(100% / 12 * 2);
    height: 40px;
    text-align: center;
    margin: 0   auto;
}
div.ftrWrap>div.footer>div.sns>i{}